<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>

        <ion-list id="main-list">
          <ion-list-header>Puppy Chat</ion-list-header>
          <ion-note>ZipCode Cohort6.0</ion-note>
        
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
            <ion-item (click)="selectedIndex = i" routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" [class.selected]="selectedIndex == i">
              <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>

        <ion-list id="channel-list">
          <ion-list-header>Channels</ion-list-header>
          <ion-menu-toggle auto-hide="false" *ngFor="let chp of channelPages; let g = index">
            <ion-item (click)="selectedChannelIndex = g;clicked(chp)" routerDirection="root" [routerLink]="[chp.url]" lines="none" detail="false" [class.selected]="selectedChannelIndex == g">
              <ion-icon slot="start" ios="people-outline" md="people-sharp"></ion-icon>
              <ion-label>{{ chp.channel.name }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
        <ion-list id="dm-list">
          <ion-list-header>Direct Messages</ion-list-header>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of dmPages; let d = index3">
            <ion-item (click)="selectedIndex = d" routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" [class.selected]="selectedIndex == d">
              <ion-icon slot="start" ios="paper-plane-outline" md="paper-plane-sharp"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
