<ion-app>

  <div class="overlay" padding [hidden]="loginOverlayHidden">
    <div class="container">
      <div class="inner">
        <div class="infoBox login">
            <ion-icon name="paw" class="logo"></ion-icon>
            <h2>PUPPY CHAT</h2>
            <div class="box">
              <input type="text" (focus)="clearErr()" placeholder="username" #mail>
              <input type="password" (focus)="clearErr()" placeholder="password" #pass>
              <div class="errorMsg">{{err}}</div>
              <ion-button class="btn" (click)="validateLogin(mail.value,pass.value)" color="dark" routerLink="welcome">Login</ion-button>
              <ion-button class="btn btn2" (click)="toggleSignIn()" color="dark" >Sign-Up</ion-button>
            </div>
        </div>    
        <div class="infoBox signUp"> 
            <ion-icon name="paw" class="logo smolLogo"></ion-icon>   
            <h2>SIGN UP FOR PUPPY CHAT</h2>
            <div class="box">   
              <input type="text" placeholder="email" #regemail>
              <input type="password" placeholder="password" #regpass>
              <input type="text" placeholder="display name" #regnam>                        
              <div class="errorMsg">{{err2}}</div>
              <ion-button class="btn" color="dark" (click)="validateSignUp(regemail.value,regpass.value,regnam.value)" routerLink="welcome">Register</ion-button>
              <ion-button class="btn" color="dark" (click)="toggleSignIn()" >Back</ion-button>
            </div>
        </div>   
      </div> 
    </div>        
  </div>

  <div class="overlay" padding [hidden]="addChannelOverlayHidden">
    <div class="container">
      <div class="inner">
        <div class="infoBox">
          <h2>CREATE A NEW CHANNEL</h2>
          <input type="text" placeholder="Channel Name" (focus)="clearErr()" #channelName>
          <div class="errorMsg">{{err}}</div>
          <ion-button class="btn" color="dark" (click)="createNewChannel(channelName.value)" >Create</ion-button>
          <ion-button class="btn" color="dark" (click)="closePopUp()" >Cancel</ion-button>
        </div>   
      </div> 
    </div>        
  </div>

  <div class="overlay" padding [hidden]="addDMOverlayHidden">
    <div class="container">
      <div class="inner">
        <div class="infoBox">
          <h2>SEND A DM TO SOMEONE!</h2>

          <div class="select-style">
            <select [(ngModel)]="selectedLevel">
              <option value=null disabled >- Select A User -</option>
              <option *ngFor="let u of userList" [(ngValue)]="u.id">{{u.displayName +" ("+u.email+")"}}</option>
            </select>          
          </div>  
          <div class="errorMsg">{{err}}</div>
          <ion-button class="btn" color="dark" (click)="createNewDM();selectedLevel=null" >Send</ion-button>
          <ion-button class="btn" color="dark" (click)="closePopUp();selectedLevel=null" >Cancel</ion-button>
        </div>   
      </div> 
    </div>        
  </div>
  <ion-split-pane class="blur" contentId="main-content">

    <ion-menu contentId="main-content" type="overlay">
      <ion-content>

        <ion-list id="main-list" lines="none">
          <ion-list-header>Puppy Chat</ion-list-header>
          <ion-note>ZipCode Cohort 6.0</ion-note>
          <!--user menu-->
          <ion-menu-toggle auto-hide="false" >
            <ion-item routerLink="welcome" no-lines>
              <ion-icon [ios]=" 'paw-outline'" [md]=" 'paw-sharp'"></ion-icon>
              <ion-label>Welcome</ion-label>
            </ion-item>
            <ion-item routerLink="profile" no-lines>
              <ion-icon  [ios]=" 'person-outline'" [md]=" 'person-sharp'"></ion-icon>
              <ion-label>Profile</ion-label>
            </ion-item>   
          </ion-menu-toggle>         
          <!--user menu-->
        </ion-list>

          <!--channel list-->
          <ion-list id="channel-list" lines="none">
            <div class="chHead"><ion-list-header>Channels</ion-list-header><ion-icon (click)="popUpNewChannel()" class="add" name="add-outline"></ion-icon></div>
            <ion-menu-toggle auto-hide="false" *ngFor="let chp of currentChannels; let i = index">
              <ion-item [routerLink]="'channel/'+i">
                <ion-icon ios="people-outline" md="people-sharp"></ion-icon>
                <ion-label>{{ chp.name }}</ion-label>
              </ion-item>
            </ion-menu-toggle>
          </ion-list>
          <!--channel list-->
          <!--dm list-->
          <ion-list id="dm-list" lines="none">
            <div class="chHead"><ion-list-header>Direct Message</ion-list-header><ion-icon (click)="popUpNewDM()" class="add" name="add-outline"></ion-icon></div>
            <ion-menu-toggle auto-hide="false" *ngFor="let dm of currentDms; let i = index">
              <ion-item [routerLink]="'dm/'+i">
                <ion-icon  ios="paper-plane-outline" md="paper-plane-sharp"></ion-icon>
                <ion-label>{{dm.name}}</ion-label>
              </ion-item>
            </ion-menu-toggle>
          </ion-list>
          <!--dm list-->

      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
