.profile{
    margin:50px auto;
    width:250px;
    text-align: center;
}

.profileL{
    font-size: 7rem;
    color: #7b3f22;
    border: #7b3f22 7px solid;
    border-radius: 7rem;
    padding:5px;    
}

.profileR{
    padding-top: 10px;
    text-align: left;
    line-height: 150%;
    font-family: Arial Rounded MT Bold,Helvetica Rounded,Arial,sans-serif; 
}

.profileR span{
    font-weight: bold;
    color: #ababab;
}